### Recap - Data Structures

In [1]:
#list, set , tuples, dictionary

my_list = ["this", "is", "a", "list", 1, 2, 5, "this"]
my_set = {"Giraffe", "Elephant", "Bear", "Rabbit", "Fox"}
my_tuple = (1, 4, "unchangeable")
my_dict = {"name": "Naomi", "age": 26, "country" : "Nigeria"}

In [ ]:
#some list functions
new_list = my_list + ['newly', 'added']
print(new_list)

another_list = new_list.extend(['elements', 'added', 'here'])
print(another_list)

new_list.append('another')
print(new_list)

sub_list = new_list[4:7]
print(sub_list)

removed_elem = new_list.pop()
print(removed_elem)

print(len(new_list))

print(list(range(0, 10, 2)))

['this', 'is', 'a', 'list', 1, 2, 5, 'this', 'newly', 'added']
['this', 'is', 'a', 'list', 1, 2, 5, 'this', 'newly', 'added', 'another']
[1, 2, 5]
another
10
[0, 2, 4, 6, 8]

In [3]:
#some set functions
animals_love = {"Koala", "Rabbit", "Hamster"}

all_animals = animals_love.union(my_set)
print(all_animals)

common_animals = animals_love.intersection(my_set)
print(common_animals)

{'Elephant', 'Rabbit', 'Bear', 'Koala', 'Giraffe', 'Hamster', 'Fox'}
{'Rabbit'}

In [4]:
#some tuples functions

new_tuple = my_tuple+ ("new", "tuple")
print(new_tuple)

print(new_tuple[3])

(1, 4, 'unchangeable', 'new', 'tuple')
new

In [5]:
#dictionary functions
my_dict.update({"key": "value"})

print(my_dict)
my_dict['key']
my_dict.keys()

{'name': 'Naomi', 'age': 26, 'country': 'Nigeria', 'key': 'value'}

dict_keys(['name', 'age', 'country', 'key'])

### Logic and Conditions

Use conditional statements to check the age of a person. It should print:

"You are eligible to vote." if the age is 18 or older.

"You are not eligible to vote yet." otherwise.

In [6]:
age = 10
if age > 18 :
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are not eligible to vote yet.

In [7]:
print ("You are eligible to vote.") if age > 18 else print("You are not eligible to vote yet.")

You are not eligible to vote yet.

Leap Year Detector
Use conditional statements to check if a year is leap year. Returns True if it is a leap year, and False otherwise.   A year is a leap year if:

1. It is divisible by 400.
    OR
2. It is divisible by 4 AND NOT divisible by 100.

In [8]:
year = 1900
if year % 400 == 0:
    print("True")
elif (year % 4 == 0) and (year % 100 != 0) :
    print("True")
else:
    print("False")

False

Return the corresponding letter grade using the following scale:

A: 90-100

B: 80-89

C: 70-79

D: 60-69

F: Below 60

In [9]:
grade = 560

if grade < 60:
    print ("F")
elif grade >= 60 and grade <= 69:
    print("D")
elif grade >= 70 and grade <= 79:
    print("C")
elif grade >= 80 and grade <= 89:
    print("A")
elif grade >= 90 and grade <= 100:
    print("E")
else:
    print("Invalid grade")

Invalid grade

#### Loops

```
for item in iterable:
    action/instructions
```

Iterable can be list, tuple, dictionary set etc

Print a Sequence (For Loop)
Write a program that uses a for loop to print all numbers from 1 to 15 (inclusive).

In [10]:
for i in range(1, 16):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

Write a program that uses a for loop to print all elements in a tuple

In [11]:
my_tuple = ("this", "is", "a", "tuple")

for item in my_tuple:
    print(item)

this
is
a
tuple

List out characters in a string

In [12]:
my_string = "Hello World"
for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

Write a program that takes the dictionary student = {"name": "Alice", "age": 20, "major": "Computer Science", "gpa": 3.8} and uses a for loop to print all its key-value pairs in the format: "Key: Value".

In [14]:
student = {"name": "Alice", "age": 20, "major": "Computer Science", "gpa": 3.8}
for key,value in student.items():
    print(f"{key} : {value}")

name : Alice
age : 20
major : Computer Science
gpa : 3.8

In [15]:
for item in student.items():
    print(f"{item[0]} : {item[1]}")

name : Alice
age : 20
major : Computer Science
gpa : 3.8

Count Down (While Loop)
Write a program that uses a while loop to print a countdown from 10 down to 1, and then prints "Liftoff!".

```
while condition:
    action to take
```

In [16]:
countdown = 10
while countdown >= 1:
    print(countdown)
    countdown -= 1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

Write a program that uses a while loop to print every integer from 1 up to and including 10. After the loop finishes, print the sum of all those numbers (1 through 10).

In [17]:
num = 1
sum_n = 0
while num <= 10:
    sum_n += num
    num += 1
print(sum_n)

55

#### Break/Continue

Write a program that iterates through numbers from 1 to 10. Use a continue statement to skip printing the even numbers. It should only print the odd numbers.

In [18]:
for num in range(1, 11):
    if num % 2 == 0:
        continue
    else:
        print(num)

1
3
5
7
9

Given a list of integers, numbers = [10, 5, 20, -3, 15, -8, 25]. Write a loop that iterates through the list and prints each number. Use a break statement to stop the loop immediately when the first negative number is encountered (the negative number should not be printed)

In [19]:
numbers = [10, 5, 20, -3, 15, -8, 25]

for num in numbers:
    if num < 0:
        break
    else:
        print(num)

10
5
20

You have a list of strings representing items in a shopping cart: cart = ["apple", "banana", "rotten_orange", "milk", "rotten_cheese", "bread"]. Write a loop that iterates over the cart. If an item contains the substring "rotten", use the continue statement to skip that item. For all other items, print "Purchasing: [Item Name]".

In [20]:
cart = ["apple", "banana", "rotten_orange", "milk", "rotten_cheese", "bread"]

for item in cart:
    if "rotten" in item:
        continue
    else:
        print(f"Purchasing : {item}")

Purchasing : apple
Purchasing : banana
Purchasing : milk
Purchasing : bread

#### List comprehension

> Structure:
```python
[expression for item in iterable if condition]
```

Multiply all the numbers in a list by 2

In [21]:
num_list = [2, 5, 6, 9, 10]
double_list = [num * 2 for num in num_list]
double_list

[4, 10, 12, 18, 20]

Given the list of numbers: data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

Use a list comprehension to create a new list containing the square of only the even numbers from the original list.

Expected Output: [4, 16, 36, 64, 100]

In [22]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square_even = []

for num in data:
    if num % 2 == 0:
        square_even.append(num ** 2)

square_even

square_even_list = [num ** 2 for num in data if num % 2 == 0]
square_even_list

[4, 16, 36, 64, 100]

#### Functions

```python
def function_name(input1, input2):
    intstructions

    return statement

```

Write a function that sums 2 numbers

In [23]:
def sum_two(num1, num2):
    return num1 + num2

In [24]:
sum_two(5, 3)
sum_two(8, 6)

14

Turn the grade conditional statement to a function

In [25]:
def get_grade(grade):
    if grade < 60:
        print ("F")
    elif grade >= 60 and grade <= 69:
        print("D")
    elif grade >= 70 and grade <= 79:
        print("C")
    elif grade >= 80 and grade <= 89:
        print("A")
    elif grade >= 90 and grade <= 100:
        print("E")
    else:
        print("Invalid grade")

In [26]:
get_grade(67)
get_grade(81)

D
A

Write a function find_target that takes a list of numbers and a target number. It should search the list for the target. Use a break statement to exit the loop once the target is found, printing "Target found!". If the target is not found after 5 iterations (regardless of the list size), print "Target not found within limit."

In [27]:
def find_target(numbers, target):
    no_iterations = min(5, len(numbers))
    target_found = False
    for i in range(no_iterations):
        if numbers[i] == target:
            print("Target Found")
            target_found = True
            break
    if not target_found:
        print("Target not found within limit")

In [28]:
numbers = [1,2,3, 4, 6, 11]
find_target(numbers, 1)

Target Found

#### Positional and Keyword Arguments

In [29]:
def divide_me(numerator, denominator = 2):
    return numerator / denominator

In [30]:
divide_me(10, 2)

5.0

In [31]:
divide_me(20)

10.0

In [32]:
divide_me(denominator= 5, numerator = 35)

7.0

In [33]:
def prepare_smoothie(base_fruit, mix_in):
    print(f"Blending a smoothie with a base of {base_fruit} and {mix_in} added.")

In [34]:
#positional
prepare_smoothie("mango", "banana")

Blending a smoothie with a base of mango and banana added.

In [35]:
prepare_smoothie(mix_in="strawberry", base_fruit="blueberry")

Blending a smoothie with a base of blueberry and strawberry added.

### *args, **kwargs

#### *args
Are represented as tuples

Sum all the numbers that are given to you

In [36]:
def sum_all(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [37]:
sum_all(10, 2, 3, 4, 8, 5,11, 852)

895

In [38]:
sum_all(10, 2, 3, 4, 8, 5,11, 85, 10, 674, 21, 3954, 2)

4789

In [55]:
#if you use a list, it'll throw an error
sum_all([1,2,3,4,6])

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

Define a function called filter_even_numbers that takes a list of integers as its first required argument, data_list, and then uses *args to accept any number of additional integers.

In [39]:
def filter_even_numbers(data_list, *other_list):
    full_list = data_list + list(other_list)
    even_list = []
    for num in full_list:
        if num % 2 == 0:
            even_list.append(num)

    return even_list

In [40]:
data = [10, 11, 12]
filter_even_numbers(data, 1, 4, 7, 9, 20)

[10, 12, 4, 20]

Define a Python function named slice_for_salad that accepts at least one required argument, main_fruit (a string), and an arbitrary number of additional fruits using the *args syntax.

The function should perform the following actions:

1. Print a header indicating the main_fruit.

2. If any additional fruits are provided via *extra_fruits, the function must join them into a single, comma-separated string and print a line indicating which extra fruits are being sliced.

3. If no additional fruits are provided, the function should print a message stating that no extra fruits will be sliced.

In [41]:
def slice_for_salad(main_fruit, *fruits):
    print(f"The main fruit is {main_fruit}")
    if fruits:
        print(f"The extra fruits being sliced are: {", ".join(fruits)}")
    else:
        print("No extra fruits sliced")

In [42]:
slice_for_salad("Banana")

The main fruit is Banana
No extra fruits sliced

In [43]:
slice_for_salad("Banana", "Kiwi", "Apples", "Pawpaw")

The main fruit is Banana
The extra fruits being sliced are: Kiwi, Apples, Pawpaw

#### **kwargs

Function to display information of anything

In [44]:
def display_info(**details):
    for key,value in details.items():
        print(f"{key}: {value}")

In [45]:
display_info(name="Angela", occupation="Data Analyst", age=26, country="Nigeria")

name: Angela
occupation: Data Analyst
age: 26
country: Nigeria

In [46]:
display_info(name="Nigeria", continent="Africa", population="200 million", tribes=['Igbo', 'Hausa'])

name: Nigeria
continent: Africa
population: 200 million
tribes: ['Igbo', 'Hausa']

In [57]:
#it'll throw an error if you use a dictionary
display_info(dict(name="Nigeria", continent="Africa", population="200 million", tribes=['Igbo', 'Hausa']))

TypeError: display_info() takes 0 positional arguments but 1 was given

Define a Python function named ```season_food``` that accepts one required argument, ```main_item``` (a string), and an arbitrary number of additional named instructions using the **kwargs syntax.

The function should perform the following actions:

Print a header indicating the main_item being seasoned.

The **kwargs will collect the additional arguments into a dictionary named instructions.

If any instructions are present in instructions, the function must print a "Special preparation notes:" header, and then iterate through the dictionary. For each key-value pair, print an instruction in the format: - Use [Value] for [Key].

If no additional instructions are provided, the function should print a message stating that the item is being "Served plain."

Input

```season_food("Steak", marinade="Soy Sauce", rub="Garlic Powder")	```

Expected Output

Seasoning the main item: Steak 

Special preparation notes: 
- Use Soy Sauce for marinade.
- Use Garlic Powder for rub.

Input

```season_food("Salad", dressing="Vinaigrette")	```

Expected Output

Seasoning the main item: Salad 

Special preparation notes: 
- Use Vinaigrette for dressing.

Input

```season_food("Potato")	```

Expected Output

Seasoning the main item: Potato Served plain.

In [47]:
def season_food(main_item, **seasonings):
    print(f"Seasoning the main food : {main_item}")
    if seasonings:
        print("Special preparation notes: ")
        for method, seasoning in seasonings.items():
            print(f"- Use {seasoning} for {method}")
    else:
        print("Served plain")

In [48]:
season_food("Steak", marinade="Soy Sauce", rub="Garlic Powder")

Seasoning the main food : Steak
Special preparation notes:
- Use Soy Sauce for marinade
- Use Garlic Powder for rub

In [49]:
season_food("Salad", dressing="Vinaigrette")

Seasoning the main food : Salad
Special preparation notes:
- Use Vinaigrette for dressing

In [50]:
season_food("Potato")

Seasoning the main food : Potato
Served plain

Write a function named configure_server that accepts:

1. A required positional argument: server_name (string).

2. Any number of features to install: *args (strings).

3. Any number of configuration settings: **kwargs (key-value pairs).

The function must return a tuple containing the server_name and the total count of all features and settings combined.
```
result = configure_server("Web_01", "HTTP", "FTP", timeout=30, user="admin", debug=True)

print(result)
```
##### Expected Output: ('Web_01', 5) 
##### (3 features + 2 settings = 5 total)

In [51]:
def configure_server(server_name, *settings, **features):
    return (server_name, len(settings) + len(features))

In [52]:
configure_server("Web_01", "HTTP", "FTP", timeout=30, user="admin", debug=True)

('Web_01', 5)

In [58]:
#positional arguments must come before keyword arguments
configure_server("Web_01", timeout=30, user="admin", debug=True, "HTTP")

SyntaxError: positional argument follows keyword argument (2250075572.py, line 2)