<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exercise: Working with DataFrames


In this exercise, we'll be exploring some ways in which we can manipulate the data stored within a Pandas DataFrame.

## Learning objectives

By the end of this train, you should be able to:
* Sort, filter, and group a Pandas DataFrame.
* Create and delete columns in a Pandas DataFrame.
* Transform a Pandas DataFrame.

## Exercises

### Import libraries and dataset

In [1]:
import pandas as pd
import numpy as np

We are using a dataset named `Animals.csv` that stores information about a variety of animal species.

In [4]:
animal_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv')
df= animal_df

In [5]:
df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
3,Giant Panda,20,Temperate Forest,Vulnerable
4,Komodo Dragon,30,Islands,Vulnerable

### Exercise 1

Filter the dataset to show only species that have an `Average Lifespan (Years)` **greater than 20** and are classified as `Vulnerable` in `Conservation Status`.

In [6]:
# Your solution here...
df[(df['Average Lifespan (Years)'] > 20) & (df['Conservation Status']=='Vulnerable')]

            Species  Average Lifespan (Years)     Habitat Conservation Status
0  African Elephant                        60  Grasslands          Vulnerable
4     Komodo Dragon                        30     Islands          Vulnerable
5        Polar Bear                        25      Arctic          Vulnerable

### Exercise 2

**a)** Create a new column `Lifespan in Months` by converting the `Average Lifespan (Years)` to months.

In [7]:
# Your solution here...
df['Average Lifespan (Years)'].apply(lambda x: x*12).head()

0    720
1    180
2    960
3    240
4    360
Name: Average Lifespan (Years), dtype: int64

**b)** Delete the `Lifespan in Months` column from the DataFrame.

In [8]:
# Your solution here...
df = df.drop('Average Lifespan (Years)', axis=1)
df.head()

            Species           Habitat Conservation Status
0  African Elephant        Grasslands          Vulnerable
1      Bengal Tiger           Forests          Endangered
2        Blue Whale             Ocean          Endangered
3       Giant Panda  Temperate Forest          Vulnerable
4     Komodo Dragon           Islands          Vulnerable

In [11]:
animal_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv')
df = animal_df
df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
3,Giant Panda,20,Temperate Forest,Vulnerable
4,Komodo Dragon,30,Islands,Vulnerable

### Exercise 3

**a)** Filter the DataFrame `animal_df` to include only species with an `Average Lifespan (Years)` **greater than 50 years**. Store the result in a new DataFrame `Long_lived_species`.

In [20]:
# Your solution here...
df['Long_lived_species']= df['Average Lifespan (Years)']>50
df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status,Long_lived_species
0,African Elephant,60,Grasslands,Vulnerable,True
1,Bengal Tiger,15,Forests,Endangered,False
2,Blue Whale,80,Ocean,Endangered,True
3,Giant Panda,20,Temperate Forest,Vulnerable,False
4,Komodo Dragon,30,Islands,Vulnerable,False

**b)** Using the `apply` and `lambda` functions, convert the `Average Lifespan (Years)` of all species into the float data type in `Long_lived_species`.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Species                   15 non-null     object
 1   Average Lifespan (Years)  15 non-null     int64
 2   Habitat                   15 non-null     object
 3   Conservation Status       15 non-null     object
 4   Long_lived_species        15 non-null     bool
dtypes: bool(1), int64(1), object(3)
memory usage: 627.0+ bytes

In [23]:
# Your solution here...
df['Long_lived_species'] = df['Average Lifespan (Years)'].apply(lambda x: float(x))
df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status,Long_lived_species
0,African Elephant,60,Grasslands,Vulnerable,60.0
1,Bengal Tiger,15,Forests,Endangered,15.0
2,Blue Whale,80,Ocean,Endangered,80.0
3,Giant Panda,20,Temperate Forest,Vulnerable,20.0
4,Komodo Dragon,30,Islands,Vulnerable,30.0

### Exercise 4

List all columns for species that have the string "`Endangered`" as part of their conservation status.

In [25]:
# Your solution here...
df[df['Conservation Status']=='Endangered']

,Species,Average Lifespan (Years),Habitat,Conservation Status,Long_lived_species
1,Bengal Tiger,15,Forests,Endangered,15.0
2,Blue Whale,80,Ocean,Endangered,80.0
13,Green Sea Turtle,80,"Oceans, Beaches",Endangered,80.0

### Exercise 5

List the mean `Average Lifespan (Years)` of species for each `Habitat` in descending order.

In [30]:
# Your solution here...
df.groupby('Habitat')['Average Lifespan (Years)'].mean().sort_values(ascending=False)

Habitat
Ocean                 80.0
Oceans, Beaches       80.0
Grasslands            60.0
Rainforests           35.0
Islands               30.0
Arctic                25.0
Antarctic             20.0
Forests, Seacoasts    20.0
Temperate Forest      20.0
Forests               15.0
Mountain Ranges       15.0
Savanna               14.0
Eucalyptus Forests    13.0
Forests, Tundra        8.0
Various                5.0
Name: Average Lifespan (Years), dtype: float64

### Exercise 6

Create a column `Threat Level` that categorises species into `High`, `Medium`, or `Low` based on their `Conservation Status`: 
- **High** for `Critically Endangered` and `Endangered` 
- **Medium** for `Vulnerable` and `Near Threatened`
- **Low** for `Least Concern`

In [31]:
# Your solution here...
df['Threat Level'] = df['Conservation Status'].apply(
    lambda x: 'High' if x in ['Critically Endangered', 'Endangered']
    else 'Medium' if x in ['Vulnerable', 'Near Threatened']
    else 'Low'
)
df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status,Long_lived_species,Threat Level
0,African Elephant,60,Grasslands,Vulnerable,60.0,Medium
1,Bengal Tiger,15,Forests,Endangered,15.0,High
2,Blue Whale,80,Ocean,Endangered,80.0,High
3,Giant Panda,20,Temperate Forest,Vulnerable,20.0,Medium
4,Komodo Dragon,30,Islands,Vulnerable,30.0,Medium

## Solutions

### Exercise 1

In [ ]:
# Filter the DataFrame based on two conditions
filtered_df = animal_df[(animal_df['Average Lifespan (Years)'] > 20) & (animal_df['Conservation Status'] == 'Vulnerable')]

# Display the filtered DataFrame
filtered_df

We filter our DataFrame based on two conditions that are combined using the `&` operator:
- The first part of the condition, `(animal_df['Average Lifespan (Years)'] > 20)`, selects rows where the average lifespan is over 20 years.
- The second part, `(animal_df['Conservation Status'] == 'Vulnerable')`, selects rows where the conservation status is equal to 'Vulnerable'.

### Exercise 2

**a)**

In [ ]:
# Creating 'Lifespan in Months'
animal_df['Lifespan in Months'] = animal_df['Average Lifespan (Years)'] * 12
animal_df

We add a new column named `Lifespan in Months` calculated by multiplying each value in `Average Lifespan (Years)` by 12 to convert from years to months.

**b)**

In [ ]:
# Deleting 'Lifespan in Months'
animal_df.drop('Lifespan in Months', axis=1, inplace=True)
animal_df

We remove the newly created `Lifespan in Months` from the DataFrame using the `drop` method. `axis=1` indicates the deletion of a column while `inplace=True` is used to ensure that the change is applied directly to `animal_df`.

### Exercise 3

**a)**

In [ ]:
# Filtering to find long-lived species whose 'Average Lifespan (Years)' is greater than 50 years.
Long_lived_species = animal_df[animal_df['Average Lifespan (Years)'] > 50]

# Display the filtered DataFrame
Long_lived_species

**b)**

In [ ]:
# Transform the Average Lifespan (Years) column to the floats
Long_lived_species['Average Lifespan (Years)'] = Long_lived_species['Average Lifespan (Years)'].apply(lambda x: float(x))

# Display the updated DataFrame 
Long_lived_species

We use a **lambda** function to **apply** the operation of converting to float across all values in the `Average Lifespan (Years)` column in the `Long_lived_species` DataFrame.

### Exercise 4

In [ ]:
# Filtering to find species with 'Endangered' in their conservation status
Endangered_species = animal_df[animal_df['Conservation Status'].str.contains('Endangered')]

# Display the filtered DataFrame
Endangered_species

We use the method `.str.contains('Endangered')` to identify species whose `Conservation Status` contains the substring `Endangered`. 
The result is stored in a new DataFrame, `Endangered_species`.

### Exercise 5

In [ ]:
Mean_lifespan_by_habitat = animal_df.groupby('Habitat')['Average Lifespan (Years)'].mean().sort_values(ascending=False)

Mean_lifespan_by_habitat

The `groupby('Habitat')` groups the data in the DataFrame `animal_df`, where each group corresponds to a unique habitat.

Within each group, the `.mean()` method is applied to find the average lifespan of species within that habitat.

The `sort_values(ascending=False)` method then sorts these average values in descending order.

### Exercise 6

In [ ]:
# Function to categorise species based on their conservation status.
def categorise_threat(status):
    if status in ['Critically Endangered', 'Endangered']:
        return 'High'
    elif status in ['Vulnerable', 'Near Threatened']:
        return 'Medium'
    else:
        return 'Low'
# Apply the 'categorise_threat' function to the 'Conservation Status' column
animal_df['Threat Level'] = animal_df['Conservation Status'].apply(categorise_threat)

animal_df

We define the `categorise_threat` function which uses conditional statements to categorise species based on their conservation status.

We then use the `apply` method to apply the function to each row in the `Conservation Status` column.

The results are stored in a new column, `Threat Level`.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>